@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');


html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #DACAA2;
}

.nora-cooks {
	color: #EEE1C0;
	font-family: "Lilita One", sans-serif;
	font-size: 24px;
}

.recipe {
	color: #EEE1C0;
	font-family: "Lilita One", sans-serif;
	font-size: 15px；
}

.tab {
	background-color: #1E1E1E;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tab0 {
	color: #EEE1C0;
	font-family: "Lilita One", sans-serif;
	font-size: 24px;
	background-color: #1E1E1E;
	padding: 20px;
	display: flex;
	justify-content: center;
}

h1 {
	color: #1E1E1E;
	font-size: 35px;
	font-family: "Lilita One", sans-serif;
	text-align: center;
}

.img1 {
	max-width: 70%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.img-title {
	max-width: 70%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}

.img-ingredient {
	max-width: 70%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}

.img-intro {
	max-width: 70%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}

.img2 {
	max-width: 70%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.contenttext {
	font-family: "Judson", sans-serif;
	font-size: 15px;
	line-height: 20px;
}

.contenttab {
	background-color: #FFF4D8;
	display: flex;
	padding: 20px 20px;
	flex-direction: column;
	gap: 15px;
	border: 8px solid #B5AB92;
	border-radius: 20px;
	max-width: 70%;
	margin: 0 auto;
}

.contenttab-ingredients {
	background-color: #FFF4D8;
	display: flex;
	padding: 20px 20px;
	flex-direction: column;
	gap: 15px;
	border: 8px solid #B5AB92;
	border-radius: 20px;
	max-width: 70%;
	margin: 0 auto;
}

.subtitle {
	font-family: "Lilita One", sans-serif;
	font-size: 20px;
	text-align: center;
}

.link {
	font-weight: bold;
	color: #A99B4E;
}

.gapbetween {
	padding-top: 25px;
}

.gap {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.gap0 {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 20px;
}

.wider-margin {
	margin-left: 20px;
	margin-right: 20px;
}

.bold {
	font-weight: bold;
}

.firstsection {
	display: block;
}

@media screen and (min-width: 768px) {
	.nora-cooks {
		font-size: 35px;
	}

	.recipe {
		font-size: 20px;
	}

	h1 {
		font-size: 55px;
	}

	.tab0 {
		font-size: 35px;
	}

	.subtitle {
		font-size: 25px;
		grid-column: span 4;
	}

	.intro {
		display: flex;
		align-items: center;
	}

	.intro .img-title {
		width: 40%;
		margin-right: 20px;
		margin-left: 50px;
		margin-top: 20px;
	}

	.contenttext {
		font-size: 18px;
		line-height: 25px;
	}

	.firstsection {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-right: 30px;
	}

	.firstsection .contenttab {
		margin-left: 30px;
		margin-top: 20px;
	}

	.contenttext0 {
		font-size: 15px;
		line-height: 20px;
	}

	.contenttab-ingredients {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.threecolumns {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 10px;
		align-items: center;
		padding-right: 40px;
	}

	.threecolumns .img1 {
		width: 100%;
		max-width: none;
		height: auto;
	}

	.contenttext {
		font-size: 15px;
		line-height: 20px;
	}

	.recipe-step {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.img1 {
		max-width: 100%;
		margin: 0;
	}

	.grid-tips {
		display: grid;
		grid-template-columns: 1fr 1.5fr;
		align-items: center;
	}

	.tips-first-column {
		line-height: 20px;
	}

	.questions-grid {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		padding: 0 40px;
		align-items: center;
	}

	.img2 {
		margin: 0;
		max-width: 100%;
	}

	.img-intro {
		max-width: 100%;
	}

	.img-ingredient {
		max-width: 100%;
	}

}

@media screen and (min-width: 1280px) {
	.nora-cooks {
		font-size: 45px;
	}

	.recipe {
		font-size: 30px;
	}

	h1 {
		font-size: 65px;
	}

	.tab0 {
		font-size: 45px;
	}

	.contenttext {
		font-size: 20px;
		line-height: 30px;
		margin-left: 20px;
		margin-right: 0;
	}

	.title {
		align-items: left;
		margin-left: 30px;
	}

	h1 {
		text-align: left;
	}

	.intro-column {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.threecolumns {
		padding-right: 100px;
	}

	.subtitle {
		font-size: 30px;
	}

	.img2 {
		margin: 0;
		max-width: 77.5%;
		margin-bottom: 30px;
	}

	.img-title {
		max-width: 30%;
	}

	.intro .contenttab {
		max-width: 85%;
		font-size: 25px;
		line-height: 40px;
	}

}