@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');


html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #DACAA2;
}

.nora-cooks {
	color: #EEE1C0;
	font-family: "Lilita One", sans-serif;
	font-size: 24px;
}

.recipe {
	color: #EEE1C0;
	font-family: "Lilita One", sans-serif;
	font-size: 15px；
}

.toptab {
	background-color: #1E1E1E;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	color: #1E1E1E;
	font-size: 35px;
	font-family: "Lilita One", sans-serif;
	text-align: center;
}

.img1 {
	max-width: 77.5%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.introduction {
	font-family: "Judson", sans-serif;
	font-size: 15px;
	line-height: 20px;
}

.link {
	font-weight: bold;
	color: #A99B4E;
}

.intropart {
	background-color: #FFF4D8;
	display: flex;
	padding: 19px 20px;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	border: 8px solid #B5AB92;
	max-width: 70%;
	height: auto;
	margin: 0 auto;
}